body {
  font-family:cursive;
  background-color:lightcyan
}

h1 {
  color:indigo;
  font-size: 40px;
}

h3 {
  color:indigo;
  font-size: 30px;
}

.Introduction {
  font-size: 22px;
  color:black;
}

.Instructions {
  font-size: 24px;
}
